<h1>Mashable</h1>

<h3>Sort stories by:<h3>
  <a href='/'>Date</a><br>
  <a href='/channel'>Category</a><br>
  <a href='/author'>Author</a><br>



<ul>

       <% @stories.each do |s| %>
          <li>
          <img src= '<%= s['image'] %>' /> <br>
          <a href = '<%= s['link'] %>'>
          <%= s['title'] %></li>
          </a>
  
          </li> <br><br>
         <% end %>
    
  
</ul>